<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.niu.springbootmybatis.mapper.UserMapper">

  <select id="findUserList" resultType="com.niu.springbootmybatis.model.User">
    select *
    from spring_boot_mybatis_user
  </select>

</mapper>